h3
    font-size: 20px
    margin: 0px

.about
    display flex
    flex-direction: column

.about-list
    display: flex
    list-style none
    margin-bottom: 3px
    padding: 0

.box-separator
        display: none

.about-list li
    display: flex
    align-items: center
    margin-right: 25px

.about-list img
    filter: invert(52%) sepia(86%) saturate(812%) hue-rotate(10deg) brightness(88%) contrast(109%) drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    width: 2rem
    height: 2rem
    margin: 0

.about-list svg
    color: rgb(247, 161, 0)

@media (max-width: 768px) 
    h3
        font-size: 20px
        text-align: center

    .about-list
        font-size: 14px
        display: flex
        justify-content: center
        list-style none
        margin-bottom: 3px
        padding: 0

    .box-separator
        display: block
        width: 20px

    .about-list li
        margin: 0
    
        
    

