.card
    background: rgba(0, 0, 0, 0.25)
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px
    padding: 10px
    width: 94%
    margin: 12px

@media (max-width 768px)
    .card
        background: rgba(0, 0, 0, 0.25)
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 15px
        width: 90%
        padding: 10px
        margin: 10px