#languages ul
    display: flex
    flex-direction: column
    list-style: none
    margin: 0
    padding: 0
    width 200px

@media (max-width 768px)
    #languages ul
        flex-direction: row
        justify-content: space-evenly
        width: 100%
        margin-top: 10px
        padding: 0
    