.Language-item
    display: flex
    align-items: center
    justify-content: start
    background: rgba(0, 0, 0, 0.25)
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px
    margin: 10px
    padding: 20px

.Language-item img 
    width 45px
    height 25px
    border-radius: 5px
    margin-right: 10px

@media (max-width 768px)
    .Language-item
        align-items: center
        font-size: 12px
        margin 0
        width: 80px
        height: 60px
        padding: 10px

    .Language-item img 
        width 40px
        height 15px