nav
    position: absolute
    z-index 2
    display: flex
    justify-content: center
    top 0
    margin-bottom: 0
    padding: 0
    width: 100%
    background: #4d0066

.navbar-items
    list-style: none
    display: flex
    justify-content: space-between
    font-weight: bold
    width: 92%
    margin: 2px 0px
    padding: 16px

a 
    display: flex
    align-items: center
    text-decoration: none
    color: white

@media (max-width: 1400px) 
    .navbar-items
        display: none
