.Skill-item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: rgba(0, 0, 0, 0.25)
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px
    margin: 10px
    padding: 20px
    width: 100px

.Skill-item img 
    width 75px
    height 75px
    margin-bottom: 10px

img.Stylus-logo
    background: white

@media (max-width 768px)
    .Skill-item
        display: flex
        flex-direction: column
        align-items: center
        font-size: 12px
        background: rgba(0, 0, 0, 0.25)
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 15px
        margin 0
        width: 60px
        height: 60px
        padding: 10px

    .Skill-item img 
        width 50px
        height 50px
        margin-bottom: 10px