@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;
    background: rgb(105,122,244);
    background: radial-gradient(circle, rgba(105,122,244,1) 0%, rgba(77,0,102,1) 100%);
    font-family: 'Raleway', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 8px;
    position: relative;
}

@media (max-width: 768px) {
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 8px;
        position: relative;
    }
}
    